<%- include('./partials/header')%>
<%- include('./partials/navigation')%>
<div class="jumbotron mt-4 container" >
	<h1 class="display-4">
		Notas App Nodejs and MongoDB
	</h1>
	<p class="lead">Saludos este es un ejemplo sencillo de CRUD con las tecnologias de <span>Nodejs</span>.
	</p>
	<p>Esta es una pagina web la cual cumple la funcion de guardar tus notas </p>
	<p>Como es requerido tiene que registrar en la pagina para usar sus servicios
	. </p>
	<p>________________________________________________________________________</p>
	<hr class="my-4">
	<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate error voluptatum aliquid placeat veritatis vel est necessitatibus, incidunt, praesentium eligendi aut ab repellat voluptas, atque earum cumque enim hic. Quam?</p>
	<a href="/signup" class="btn btn-primary">notas web</a>
</div>
	
<%- include('./partials/footer')%>